RPC-Client/src/META-INF/wsdl/localhost_9001/sale.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. --><xs:schema xmlns:tns="http://sale/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://sale/">

<xs:element name="getSales" type="tns:getSales"></xs:element>

<xs:element name="getSalesResponse" type="tns:getSalesResponse"></xs:element>

<xs:element name="newSale" type="tns:newSale"></xs:element>

<xs:element name="newSaleResponse" type="tns:newSaleResponse"></xs:element>

<xs:complexType name="getSales">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="getSalesResponse">
<xs:sequence>
<xs:element name="return" type="tns:sale" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="sale">
<xs:sequence>
<xs:element name="customer" type="tns:customer" minOccurs="0"></xs:element>
<xs:element name="date" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="saleItem" type="tns:saleItem" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="customer">
<xs:sequence>
<xs:element name="dateOfBirth" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="gender" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="id" type="xs:int" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="saleItem">
<xs:sequence>
<xs:element name="price" type="xs:double" minOccurs="0"></xs:element>
<xs:element name="productID" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="quantity" type="xs:double" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="newSale">
<xs:sequence>
<xs:element name="sale" type="tns:sale" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="newSaleResponse">
<xs:sequence></xs:sequence>
</xs:complexType>
</xs:schema>